@import 'index'

.archive
  display: flex
  height: 100%
  overflow: hidden

.directory
  display: flex
  flex-direction: column
  width: 33vw
  border-right: white solid

.filler

.filter
  @include font-style
  color: black
  width: 100%
  background: white
  height: content-box

.listContainer
  display: flex
  overflow: hidden

ul
  overflow: hidden
  overflow-y: scroll
  list-style: none

//li
//  height: 400px
//  border: solid white

h1
  font-size: 24px
