@import 'index'

.home
  display: flex
  flex-direction: column
  position: relative
  height: 100%

.imageContainer
  display: flex
  margin-left: calc(25% - 20px)
  .preview

.footer
  position: absolute
  left: 0
  bottom: 0
  width: 70%