@import 'index'
.home
  display: flex
  flex: 1 1 auto
  flex-direction: column
  justify-content: flex-start
  position: relative
  height: 100%
  //width: 100%

.cardContainer
  display: flex
  flex: 1 1 auto
  width: 100%
  max-height: 100%

canvas
  display: flex
  flex: 1 1 auto

$card-width: 58vw

.cardBorder
  @include tertiary-font-style
  position: absolute
  left: 30%
  top: 39.9%
  transform: translateY(-50%)
  width: $card-width
  height: calc(#{$card-width} / (16/9) * 1.01)
  border: dashed white 1px
  z-index: -5
  margin: 0 auto
  .cardCTA
    position: absolute
    right: 0
    top: 100%
    justify-self: center
    margin-top: 10px
  .cardNumber
    position: absolute
    left: 100%
    transform: rotate(90deg)
    transform-origin: top left
    margin-left: 20px

.footer
  position: absolute
  left: 0
  bottom: 0
  width: 70%
  z-index: -2
  padding: $padding