@import 'index'

.playerOverlayContainer
  position: absolute
  left: -$padding
  top: -$padding
  display: flex
  color: black
  background: black
  opacity: 1
  width: 100vw
  height: 100vh
  z-index: 3

.playerOverlay
  display: flex
  width: 100%
  height: 100%
  opacity: 1
  .svg
    position: absolute
    left: 10px
    top: 10px

    margin: 20px
.closeButton
  position: absolute
  right: $padding
  top: calc(#{$padding} * 3)
  .line
    stroke: $primary-color
    stroke-width: 2
    z-index: 200

.player
  --video--width: 1296
  --video--height: 540

  position: relative
  padding-bottom: calc(var(--video--height) / var(--video--width) * 100%)
  overflow: hidden
  width: 100%
  max-width: 100%
  background: black
  margin-top: 150px
  margin-bottom: 200px

iframe, object, embed
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
